@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0F;
}
.upload-btn {
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s ease;

}

.upload-btn:hover {
  border-color: #aaaaaa;
  background: #ffffff;
}

.upload-btn:active {
  border-color: #42a5f5;
}
